@import "tailwindcss";

@theme {
  --color-theme: var(--theme-color, #1c1917); /* Default to stone-900 */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
